html{
    height: 100vh;
}

body{
    height: 400vh;
    background-color: black;
    transition: background-color 2s ease;
}

#progress{
    height: 1px;
    background-color: black;
    transition: width 0.1s ease;
}

#progress-cont{
    opacity: 1;
    width: 40%;
    position: absolute;
    z-index: 2;
    top : 50%;
    left: 50%;
    color: white;
    font-family: 'Monument Extended', sans-serif;
    transform: translate(-50%, -50%) ;
}

.fadeOut{
    opacity: 0 !important;
    transition: opacity 2s !important;
}

canvas{
    opacity: 0;
    position: fixed;
    top: 0%;
    transform: scale(0);
    max-width: 90vw;
    max-height: 90vh;
}

.fadeIn{
    transform: scale(1) !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
    transition: all 1s 1.5s;
}